<%- include header.ejs %>
<%- include sidebar.ejs %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Courses  </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
         
          <!-- /.col -->
          <div class="col-md-9 mx-auto">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Add Lectures Videos</h3>
                </div>
                <div><% if ( typeof(message) !='undefined') { %>
                  <%= message %>
                <% } %> </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" method="POST" id="add_lectures" action="/admin/add-lectures"enctype="multipart/form-data">
                  <div class="card-body">

                    <div class="form-group row">
                      <label for="userid" class="col-sm-3 col-form-label">Lecture title</label>
                      <select class="form-control col-sm-9" name="select_courses" id="select_courses">
                        <% if ( typeof(Alldata) !='undefined') { %>
                          <% Alldata.forEach(function(Course) { %>
                                <option value="<%=Course._id %>"><%=Course.coursetitle %></option>
                            <% }) } %>
                      
                      </select>
                     
                    </div>

                    <div class="form-group row">
                      <label for="userid" class="col-sm-3 col-form-label">Lecture title </label>
                      <textarea class="form-control col-sm-9" id="w3review" name="course_fDescription" rows="2" ></textarea>
                    </div>

                    <div class="form-group row">
                      <label for="userid" class="col-sm-3 col-form-label">Lecture Description</label>
                      <textarea class="form-control col-sm-9" id="w3review" name="course_fullDescription" rows="8" ></textarea>
                    </div>

                    <div class="form-group row">
                      <label for="userid" class="col-sm-3 col-form-label">Course Intro Video</label>
                      <input type="file" class="form-control col-sm-9" name="courseintro" id="courseintro">
                    </div>

                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Add Course</button>
                  </div>
                </form>
              </div>
           
            <!-- /.card -->

          </div>
          <!-- /.col -->
        </div>
     
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include footer.ejs %>
