<%- include header.ejs %>
<%- include sidebar.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>All Users</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
          <div class="col-12">
          
            <!-- /.card -->
  
            <div class="card">
              
              
              <div class="clearfix" style="margin-bottom: 10px;">

                <form action="" method="post">                        
                 
                     <div class="col-md-12 col-lg-12 d-flex filter-box">
                   <div class="col-md-3 col-lg-3">
                    
                       <div class=" d-flex align-items-center"> 
                         <label> Course Name : </label>
                          <input type="text" class="form-control" name="search_course" placeholder="Search By Courese Name"> </div>
                      </div>
               
                       
                    <div class="col-md-2 col-lg-2">
                      <div class="pull-left">
                        <input type="submit" class="btn btn-info" name="search_data" value="Submit" >
                    </div>
                    </div>
                   </div> 
                                      
               </form>

                   </div> 
              <!-- /.card-header -->
              <div class="card-body ">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>S no.</th>
                      <th>Course Name</th>
                      <th>Course Title</th>
                      <th>Short Decription</th>
                      <th>full Decription</th>
                      <th>Course Price</th>
                      <th>Course Status</th>
                   </tr>
                    </thead>
                    <tbody>
                   
                      <% if (typeof Alldata[0]=='object') { %>
                        <% var i=1; %>
                        <% if ( typeof(Alldata) !='undefined') { %>
                        <% Alldata.forEach(function(Course) { %>
                          <tr>
                            <td><%=i %></td>
                            <td> <%= Course.coursename %>
                            </td>
                            <td><%= Course.coursetitle %></td>
                            <td><%= Course.coursediscription %></td>
                            <td><%= Course.coursefdiscription %></td>
                            <td><%= Course.courseprice %></td>
   
                            <% if(Course.course_status == 1){  %>
                              <% var course_status= "Deactivate";  %>
                              <% var User_statusClass= "badge-danger";  %>
                              <% }else{  %>
                                <% var course_status= "Activate";  %>
                                <% var User_statusClass= "badge-success";  %>
                                <% } %>
                               
                            <td><a href="javascript:void(0)" class="chnage_course_status"  data-id="<%= Course.course_status %>" data-value="<%= Course._id %>"><span class="badge <%=User_statusClass %>"><%=course_status %></span></a></td>
                           
                          </tr>
                         

                          <% i++; }); }%>
                          <% }%>
                    
                     

                   
                
                    </tbody>
                   
                  </table>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include footer.ejs %>
