<%- include header.ejs %>
      <div class="si_fullwidth_page">
         <div class="fw-page-builder-content">
            <section class="fw-main-row "  >
               <div class="fw-container-fluid">
                  <div class="fw-row">
                     <div class="fw-col-xs-12">
                        <div class="special-slider">
                           <div class=" header-content-full header-content " role="banner"
                              style="background-image:url(./assets/images/home-education-1.jpg);">
                              <div class="container">
                                 <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 header-area">
                                       <div class="header-area-inner header-text">
                                          <div><span class="subtitle ">Lifebuilding Education</span></div>
                                          <h1 class="title">More Than 25K+ <br>Edu Courses Online</h1>
                                          <p>Choose from over 250,000 online video courses with new additions published every month, high quality courses.</p>
                                          <div class="btn-section">
                                             <a href="courses-2/#" class="color-one btn-custom">
                                             Get Started Now <i class="fas fa-arrow-right"></i></a>
                                             <div class=" video-relative">
                                                <a href="https://www.youtube.com/watch?v=W-j4QGAgNu8" class="video-btn popup-video ">
                                                <i class="fas fa-play"></i>
                                                <span class="ripple orangebg"></span>
                                                <span class="ripple orangebg"></span>
                                                <span class="ripple orangebg"></span>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      </section>
      <section class="fw-main-row "  >
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div class="why-us wrap-bg">
                     <div class="container">
                        <div class="row align-items-center">
                           <div class="col-xs-12 col-sm-12 col-md-5 col-xl-6 col-lg-6">
                              <div class="image-shadow">
                                 <img src="./assets/images/3d-people-1.png"  alt=""/>
                              </div>
                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-7 col-xl-6 col-lg-6">
                              <div class="about-content">
                                 <div class="section-title">
                                    <div class="intro-title">About</div>
                                    <h2>We provide exclusive Coaching Courses &amp; Lifebuilding Edu</h2>
                                 </div>
                                 <div class="about_content">
                                    <p>We can help you create positive and permanent changes in your life. Let’s Create Something new and awesome Togeather. High Performance WordPress Theme. Let’s Create Something new and awesome Togeather &amp; Best Services. We are the first and trusted Business Consulting company in your city. The best service is our goal.</p>
                                    <ul class="themeioan_ul_icon">
                                       <li><i class="far fa-arrow-alt-circle-right"></i> High Quality Education Video</li>
                                       <li><i class="far fa-arrow-alt-circle-right"></i> You can learn anything online</li>
                                       <li><i class="far fa-arrow-alt-circle-right"></i> We list your options by state</li>
                                    </ul>
                                    <div class="mt-25">
                                       <a href="#" class="mr-15 color-one btn-custom">
                                       Start Here <i class="fas fa-arrow-right"></i></a>
                                       <a href="#" class="button-light">
                                       Learn More</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="fw-main-row " style="background-color:#f9f9f9;" >
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div class="courses wrap-bg layout1">
                     <div class="container">
                        <div class="row position-left-button">
                           <div class="col-sm-12 col-md-9 col-lg-10">
                              <div class="mobile-center section-title with-p color-dark">
                                 <div class="headline-inline">
                                    <h2>Explore Popular Courses</h2>
                                 </div>
                                 <div class="headline-inline">
                                 </div>
                                 <div class="intro-title">Courses</div>
                              </div>
                           </div>
                           <div class="col-sm-12 col-md-3 col-lg-2">
                              <div class="button-right mb-25">
                                 <a href="/courses" class="color-one btn-custom">
                                 more <i class="fas fa-arrow-right"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="container">
                        <div class="row">

                           <% if ( typeof(Alldata) !='undefined') { %>
                              <% Alldata.forEach(function(Course) { %>
                                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  course-single mb20">
                                    <div class=" themeioan_course">
                                       <article>
                                          <div class="blog-photo">
                                             <a href="/single-course?id=<%=Course._id   %>" class="course-permalink"><img width="400" height="300" src="./assets/images/breadcrumb-shop-400x300.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="" /></a>
                                             <div class="course_category">
                                                <div class="cat-item">
                                                   <!-- <span class="cat-links"><a href="#" rel="tag">Angular</a></span>											 -->
                                                </div>
                                             </div>
                                          </div>
                                          <div class="blog-content">
                                           
                                             <h5 class="title"><a href="#" class="course-permalink"><%=Course.coursetitle   %></a></h5>
                                             <div class="vultur-stars">
                                                <div class="review-stars-rated">
                                                   <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                                                   </div>
                                                </div>
                                                <div class="vultur_rating_total">
                                                   5.0 (1 rating)
                                                </div>
                                             </div>
                                             <ul class="course-bottom-list">
                                                <li>
                                                   <div class="course-duration">
                                                      <span class=" ">
                                                      <span class="course-price price">&#036;<%=Course.courseprice   %></span>
                                                      </span>
                                                   </div> 
                                                </li>
                                             </ul>
      
      
      
                                             <!-- <div class="course_lessons">
                                                <div class="cat-item">
                                                   <i class="far fa-address-book fa-3x"></i>
                                                   <span class="lp-label label-8">
                                                   8    </span>
                                                   Lessons													
                                                </div>
                                                <div class="cat-item">
                                                   <i class="far fa-user fa-3x"></i>
                                                   <span class="lp-label label-66">
                                                   66    </span>
                                                   Student													
                                                </div>
                                             </div> -->
                                          </div>
                                       </article>
                                    </div>
                                 </div>
                                 


                                 <%  }) } %>

                         

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="fw-main-row "  >
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div class="features layout5">
                     <div class="courses wrap-bg">
                        <div class="container">
                           <div class="row position-center">
                              <div class="col-lg-12">
                                 <div class="section-title with-p color-dark">
                                    <div class="intro-title">Trending</div>
                                    <h2>Popular Courses Categories</h2>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium totam rem doloremque laudantium, totam rem aperiam, eaque ipsa natus error sit.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-xs-12 col-sm-12 col-sm-6 col-md-6 col-lg-3">
                                 <div class="flip-wwd">
                                    <div class="hovercontainer">
                                       <div class="front" style="background-image:url(./assets/images/1.jpg);">
                                          <div class="inner">
                                             <div class="wrap-icon">
                                                <i class="category-icon fa fa-send-o fa-3x"></i>
                                             </div>
                                             <h3>Coding</h3>
                                          </div>
                                       </div>
                                       <div class="back" style="background-image:url(./assets/images/1.jpg);">
                                          <div class="inner">
                                             <p>685 online courses</p>
                                             <a class="btn color-one" href="#" >View all</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-sm-6 col-md-6 col-lg-3">
                                 <div class="flip-wwd">
                                    <div class="hovercontainer">
                                       <div class="front" style="background-image:url(./assets/images/2.jpg);">
                                          <div class="inner">
                                             <div class="wrap-icon">
                                                <i class="category-icon fa fa-amazon fa-3x"></i>
                                             </div>
                                             <h3>Creative</h3>
                                          </div>
                                       </div>
                                       <div class="back" style="background-image:url(./assets/images/2.jpg);">
                                          <div class="inner">
                                             <p>385 online courses</p>
                                             <a class="btn color-one" href="#" >View all</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-sm-6 col-md-6 col-lg-3">
                                 <div class="flip-wwd">
                                    <div class="hovercontainer">
                                       <div class="front" style="background-image:url(./assets/images/3.jpg);">
                                          <div class="inner">
                                             <div class="wrap-icon">
                                                <i class="category-icon fa fa-book fa-3x"></i>
                                             </div>
                                             <h3>Business</h3>
                                          </div>
                                       </div>
                                       <div class="back" style="background-image:url(./assets/images/3.jpg);">
                                          <div class="inner">
                                             <p>243 online courses</p>
                                             <a class="btn color-one" href="#" >View all</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-sm-6 col-md-6 col-lg-3">
                                 <div class="flip-wwd">
                                    <div class="hovercontainer">
                                       <div class="front" style="background-image:url(./assets/images/4.jpg);">
                                          <div class="inner">
                                             <div class="wrap-icon">
                                                <i class="category-icon fa fa-bar-chart-o fa-3x"></i>
                                             </div>
                                             <h3>Technology</h3>
                                          </div>
                                       </div>
                                       <div class="back" style="background-image:url(./assets/images/4.jpg);">
                                          <div class="inner">
                                             <p>134 online courses</p>
                                             <a class="btn color-one" href="#" >View all</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-sm-6 col-md-6 col-lg-3">
                                 <div class="flip-wwd">
                                    <div class="hovercontainer">
                                       <div class="front" style="background-image:url(./assets/images/5.jpg);">
                                          <div class="inner">
                                             <div class="wrap-icon">
                                                <i class="category-icon fa fa-cloud-download fa-3x"></i>
                                             </div>
                                             <h3>Photography</h3>
                                          </div>
                                       </div>
                                       <div class="back" style="background-image:url(./assets/images/5.jpg);">
                                          <div class="inner">
                                             <p>230 online courses</p>
                                             <a class="btn color-one" href="#" >View all</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-sm-6 col-md-6 col-lg-3">
                                 <div class="flip-wwd">
                                    <div class="hovercontainer">
                                       <div class="front" style="background-image:url(./assets/images/6.jpg);">
                                          <div class="inner">
                                             <div class="wrap-icon">
                                                <i class="category-icon fa fa-camera-retro fa-3x"></i>
                                             </div>
                                             <h3>IT &amp; Software</h3>
                                          </div>
                                       </div>
                                       <div class="back" style="background-image:url(./assets/images/6.jpg);">
                                          <div class="inner">
                                             <p>293 online courses</p>
                                             <a class="btn color-one" href="#" >View all</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-sm-6 col-md-6 col-lg-3">
                                 <div class="flip-wwd">
                                    <div class="hovercontainer">
                                       <div class="front" style="background-image:url(./assets/images/7.jpg);">
                                          <div class="inner">
                                             <div class="wrap-icon">
                                                <i class="category-icon fa fa-amazon fa-3x"></i>
                                             </div>
                                             <h3>Creative</h3>
                                          </div>
                                       </div>
                                       <div class="back" style="background-image:url(./assets/images/7.jpg);">
                                          <div class="inner">
                                             <p>385 online courses</p>
                                             <a class="btn color-one" href="#" >View all</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-sm-6 col-md-6 col-lg-3">
                                 <div class="flip-wwd">
                                    <div class="hovercontainer">
                                       <div class="front" style="background-image:url(./assets/images/8.jpg);">
                                          <div class="inner">
                                             <div class="wrap-icon">
                                                <i class="category-icon fa fa-send-o fa-3x"></i>
                                             </div>
                                             <h3>Coding</h3>
                                          </div>
                                       </div>
                                       <div class="back" style="background-image:url(./assets/images/8.jpg);">
                                          <div class="inner">
                                             <p>685 online courses</p>
                                             <a class="btn color-one" href="#" >View all</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="fw-main-row " style="background-image:url(./assets/images/demo-cta.jpg);" >
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div id="instructor" class="call-to-action-area bg-widget position-center layout2" style="">
                     <div class="container">
                        <div class="row justify-content-center">
                           <div class="col-md-8">
                              <div class="call-to-action-content color-white">
                                 <div class="post-heading-left ">
                                    <h2>Start growing with community &amp; Experience Endless Possibilities</h2>
                                 </div>
                                 <div>
                                    <p>and get started with a free 1 month trial for your business</p>
                                 </div>
                                 <div class="call-to-action-btn">
                                    <a href="#">
                                    Join The Network <i class="fas fa-arrow-right"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="fw-main-row "  >
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div id="counter" class="layout3 wrap-bg-bottomzero">
                     <div class="container">
                        <div class="row">
                           <div class="col-lg-5">
                              <div class="row position-left">
                                 <div class="col-lg-12">
                                    <div class="section-title with-p color-dark">
                                       <div class="section-title-uppercase">learn something new</div>
                                       <h2>Learn from any location in the world with Vultur Edu</h2>
                                       <p>Duis consectetur feugiat auctor. Morbi nec enim luctus, feugiat arcu id, ultricies ante. Duis vel massa eleifend, porta est non.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-1"></div>
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="info">
                                       <div class="themeioan_counter color-dark">
                                          <i class=" fa-3x"></i>
                                          <h4>649</h4>
                                          <p>Program Awards</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="info">
                                       <div class="themeioan_counter color-dark">
                                          <i class=" fa-3x"></i>
                                          <h4>369</h4>
                                          <p>Certified Teachers</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="info">
                                       <div class="themeioan_counter color-dark">
                                          <i class=" fa-3x"></i>
                                          <h4>746</h4>
                                          <p>Students Enrolled</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="info">
                                       <div class="themeioan_counter color-dark">
                                          <i class=" fa-3x"></i>
                                          <h4>874</h4>
                                          <p>Complete Courses</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="fw-main-row "  >
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div id="teachers" class="wrap-bg">
                     <div class="container">
                        <div class="row position-center">
                           <div class="col-lg-12">
                              <div class="section-title with-p color-dark">
                                 <div class="intro-title">Teachers</div>
                                 <h2>Meet Our International Teachers</h2>
                              </div>
                           </div>
                        </div>
                        <div class="row carousel-slider gallery-slider">
                           <div class="col-md-6 col-lg-4 col-xl-3 layout1">
                              <article class="item">
                                 <a href="./assets/images/team02.jpg" class="fancybox"
                                    data-fancybox-group="images_gallery"><img src="./assets/images/team02.jpg"  alt="Ioan Drozd"/></a>
                                 <div class="teacher-content">
                                    <div class="teacher-social">
                                       <i class="teacher-icon fa fa-share-alt social-first"></i>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-facebook"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-twitter" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-linkedin" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-instagram" aria-hidden="true"></i>
                                       </a>
                                    </div>
                                    <h5>Ioan Drozd</h5>
                                    <span>Photoshop</span>
                                    <p>Sed ut perspiciatis unde omnis iste ut perspiciatis unde omnis iste</p>
                                 </div>
                              </article>
                           </div>
                           <div class="col-md-6 col-lg-4 col-xl-3 layout1">
                              <article class="item">
                                 <a href="./assets/images/team03.jpg" class="fancybox"
                                    data-fancybox-group="images_gallery"><img src="./assets/images/team03.jpg"  alt="Ioan Drozd"/></a>
                                 <div class="teacher-content">
                                    <div class="teacher-social">
                                       <i class="teacher-icon fa fa-share-alt social-first"></i>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-facebook"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-twitter" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-linkedin" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-instagram" aria-hidden="true"></i>
                                       </a>
                                    </div>
                                    <h5>Ioan Drozd</h5>
                                    <span>IT & Software</span>
                                    <p>Sed ut perspiciatis unde omnis iste ut perspiciatis unde omnis iste</p>
                                 </div>
                              </article>
                           </div>
                           <div class="col-md-6 col-lg-4 col-xl-3 layout1">
                              <article class="item">
                                 <a href="./assets/images/team04.jpg" class="fancybox"
                                    data-fancybox-group="images_gallery"><img src="./assets/images/team04.jpg"  alt="Ioan Drozd"/></a>
                                 <div class="teacher-content">
                                    <div class="teacher-social">
                                       <i class="teacher-icon fa fa-share-alt social-first"></i>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-facebook"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-twitter" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-linkedin" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-instagram" aria-hidden="true"></i>
                                       </a>
                                    </div>
                                    <h5>Ioan Drozd</h5>
                                    <span>Education</span>
                                    <p>Sed ut perspiciatis unde omnis iste ut perspiciatis unde omnis iste</p>
                                 </div>
                              </article>
                           </div>
                           <div class="col-md-6 col-lg-4 col-xl-3 layout1">
                              <article class="item">
                                 <a href="./assets/images/team01.jpg" class="fancybox"
                                    data-fancybox-group="images_gallery"><img src="./assets/images/team01.jpg"  alt="Ioan Drozd"/></a>
                                 <div class="teacher-content">
                                    <div class="teacher-social">
                                       <i class="teacher-icon fa fa-share-alt social-first"></i>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-facebook"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-twitter" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-linkedin" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-instagram" aria-hidden="true"></i>
                                       </a>
                                    </div>
                                    <h5>Ioan Drozd</h5>
                                    <span>Coaching</span>
                                    <p>Sed ut perspiciatis unde omnis iste ut perspiciatis unde omnis iste</p>
                                 </div>
                              </article>
                           </div>
                           <div class="col-md-6 col-lg-4 col-xl-3 layout1">
                              <article class="item">
                                 <a href="./assets/images/team03.jpg" class="fancybox"
                                    data-fancybox-group="images_gallery"><img src="./assets/images/team03.jpg"  alt="Ioan Drozd"/></a>
                                 <div class="teacher-content">
                                    <div class="teacher-social">
                                       <i class="teacher-icon fa fa-share-alt social-first"></i>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-facebook"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-twitter" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-linkedin" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-instagram" aria-hidden="true"></i>
                                       </a>
                                    </div>
                                    <h5>Ioan Drozd</h5>
                                    <span>IT & Software</span>
                                    <p>Sed ut perspiciatis unde omnis iste ut perspiciatis unde omnis iste</p>
                                 </div>
                              </article>
                           </div>
                           <div class="col-md-6 col-lg-4 col-xl-3 layout1">
                              <article class="item">
                                 <a href="./assets/images/team04.jpg" class="fancybox"
                                    data-fancybox-group="images_gallery"><img src="./assets/images/team04.jpg"  alt="Ioan Drozd"/></a>
                                 <div class="teacher-content">
                                    <div class="teacher-social">
                                       <i class="teacher-icon fa fa-share-alt social-first"></i>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-facebook"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-twitter" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-linkedin" aria-hidden="true"></i>
                                       </a>
                                       <a href="#" class="teacher-icon social-link">
                                       <i class="fa fa-instagram" aria-hidden="true"></i>
                                       </a>
                                    </div>
                                    <h5>Ioan Drozd</h5>
                                    <span>Education</span>
                                    <p>Sed ut perspiciatis unde omnis iste ut perspiciatis unde omnis iste</p>
                                 </div>
                              </article>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="fw-main-row " style="background-image:url(./assets/images//demo.jpg);" >
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div id="testimonials" class="wrap-bg">
                     <div class="container">
                        <div class="row align-items-center position-left">
                           <div class="col-lg-6">
                              <div class="carousel-slider general-slider">
                                 <div class="col-sm-4">
                                    <div class="themeioan_testimonial">
                                       <img src="./assets/images/become-a-teacher-300x300.jpg"  alt="Ellison Johnson"/>
                                       <div class="testimonail-content">
                                          <div class="testimonial-text">
                                             <p>"<strong>I always thought</strong> that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times."</p>
                                          </div>
                                          <div class="testimonial-author">
                                             <h4>Ellison Johnson</h4>
                                             <p>Assistant professor</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-4">
                                    <div class="themeioan_testimonial">
                                       <img src="./assets/images/slider3-300x300.jpg"  alt="Ellison Johnson"/>
                                       <div class="testimonail-content">
                                          <div class="testimonial-text">
                                             <p>"<strong>I always thought</strong> that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times."</p>
                                          </div>
                                          <div class="testimonial-author">
                                             <h4>Ellison Johnson</h4>
                                             <p>Assistant professor</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-4">
                                    <div class="themeioan_testimonial">
                                       <img src="./assets/images/become-a-teacher-300x300.jpg"  alt="Ellison Johnson"/>
                                       <div class="testimonail-content">
                                          <div class="testimonial-text">
                                             <p>"<strong>I always thought</strong> that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times."</p>
                                          </div>
                                          <div class="testimonial-author">
                                             <h4>Ellison Johnson</h4>
                                             <p>Assistant professor</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <ul class="arrow-modern">
                                    <li class="prev"><i class="fas fa-arrow-left"></i></li>
                                    <li class="next"><i class="fas fa-arrow-right"></i></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-lg-1"></div>
                           <div class="col-lg-5">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="fw-main-row "  >
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div id="blog" class="wrap-bg">
                     <div class="container">
                        <div class="row position-center">
                           <div class="col-lg-12">
                              <div class="section-title with-p">
                                 <div class="intro-title">News</div>
                                 <h2>Explore Recent News</h2>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 blog-single">
                              <div class="themeioan_blog layout3 ">
                                 <article>
                                    <div class="blog-photo">
                                       <a href="#"><img src="./assets/images/2-4-580x460.jpg" alt="We provide exclusive git coaching courses" title="We provide exclusive git coaching courses" class="img-responsive"></a>
                                    </div>
                                    <div class="blog-content">
                                       <div class="course-viewer">
                                          <ul>
                                             <li><i class="far fa-calendar"></i><time class="entry-date published" datetime="2020-05-05T08:02:36+00:00">May 5</time><time class="updated" datetime="2020-05-05T08:02:36+00:00">May 5</time></li>
                                             <li><i class="far fa-user"></i> <a class="url fn n" href="#">Ioan Drozd</a></li>
                                             <li><i class="far fa-comment-dots"></i> 2</li>
                                          </ul>
                                       </div>
                                       <h5 class="title"><a href="#">We provide exclusive git coaching courses</a></h5>
                                    </div>
                                 </article>
                              </div>
                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 blog-single">
                              <div class="themeioan_blog layout3 ">
                                 <article>
                                    <div class="blog-photo">
                                       <a href="#"><img src="./assets/images/1-4-580x460.jpg" alt="We provide exclusive git coaching courses" title="We provide exclusive git coaching courses" class="img-responsive"></a>
                                    </div>
                                    <div class="blog-content">
                                       <div class="course-viewer">
                                          <ul>
                                             <li><i class="far fa-calendar"></i><time class="entry-date published" datetime="2020-05-05T08:02:49+00:00">May 5</time><time class="updated" datetime="2020-05-05T08:02:49+00:00">May 5</time></li>
                                             <li><i class="far fa-user"></i> <a class="url fn n" href="#">Ioan Drozd</a></li>
                                             <li><i class="far fa-comment-dots"></i> 2</li>
                                          </ul>
                                       </div>
                                       <h5 class="title"><a href="#">We provide exclusive git coaching courses</a></h5>
                                    </div>
                                 </article>
                              </div>
                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 blog-single">
                              <div class="themeioan_blog layout3 ">
                                 <article>
                                    <div class="blog-photo">
                                       <a href="#"><img src="./assets/images/3-4-580x460.jpg" alt="We provide exclusive git coaching courses" title="We provide exclusive git coaching courses" class="img-responsive"></a>
                                    </div>
                                    <div class="blog-content">
                                       <div class="course-viewer">
                                          <ul>
                                             <li><i class="far fa-calendar"></i><time class="entry-date published" datetime="2020-05-05T08:03:25+00:00">May 5</time><time class="updated" datetime="2020-05-05T08:03:25+00:00">May 5</time></li>
                                             <li><i class="far fa-user"></i> <a class="url fn n" href="#">Ioan Drozd</a></li>
                                             <li><i class="far fa-comment-dots"></i> 2</li>
                                          </ul>
                                       </div>
                                       <h5 class="title"><a href="#">We provide exclusive git coaching courses</a></h5>
                                    </div>
                                 </article>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="fw-main-row " style="background-color:#f9f9f9;" >
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div id="instructor" class="call-to-action-area bg-widget position-center" style="background-image:url(./assets/images/newsletter-shape.png);">
                     <div class="container">
                        <div class="row justify-content-center">
                           <div class="col-md-7">
                              <div class="call-to-action-content color-dark">
                                 <div class="newsletter-content">
                                    <h2>Sign up for our newsletter</h2>
                                 </div>
                                 <div>
                                    <p>He found himself transformed in his bed into a horrible vermin.</p>
                                    <script>(function() {
                                       window.mc4wp = window.mc4wp || {
                                       	listeners: [],
                                       	forms: {
                                       		on: function(evt, cb) {
                                       			window.mc4wp.listeners.push(
                                       				{
                                       					event   : evt,
                                       					callback: cb
                                       				}
                                       			);
                                       		}
                                       	}
                                       }
                                       })();
                                    </script><!-- Mailchimp for WordPress v4.7.7 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-6218" method="post" data-id="6218" data-name="ThemeIoan" >
                                       <div class="mc4wp-form-fields"><input type="email" name="EMAIL" placeholder="Your email address" required />
                                          <input type="submit" value="Sign up" />
                                       </div>
                                       <label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1591437716" /><input type="hidden" name="_mc4wp_form_id" value="6218" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                       <div class="mc4wp-response"></div>
                                    </form>
                                    <!-- / Mailchimp for WordPress Plugin -->                                            
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      </div>
      </div> 
   <%- include footer.ejs %>