<!doctype html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" >
      <title> Ubuddys </title>
      <link rel="dns-prefetch" href="http://maps.googleapis.com/">
      <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
      <link rel="alternate" type="application/rss+xml" title="Vultur » Feed" href="feed/#">
      <link rel="alternate" type="application/rss+xml" title="Vultur » Comments Feed" href="comments/feed/#">
      <link rel="stylesheet" id="bootstrap-css" href="./assets/css/bootstrap.min.css" media="all">
      <link rel="stylesheet" id="owl-carousel-css" href="./assets/css/owl.carousel.min.css" media="all">
      <link rel="stylesheet" id="owl-theme-default-css" href="./assets/css/owl.theme.default.min.css" media="all">
      <link rel="stylesheet" id="slick-css" href="./assets/css/slick.css" media="all">
      <link rel="stylesheet" id="fontawesome5-css" href="./assets/fonts/fontawesome.min.css" media="all">
      <link rel="stylesheet" id="fontawesome4-css" href="./assets/fonts/font-awesome4.min.css" media="all">
      <link rel="stylesheet" id="fancybox-css" href="./assets/css/jquery.fancybox.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="./assets/css/custom-style.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="./assets/css/front-gird.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="./assets/css/learn-press.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="./assets/css/magnific-popup.css" media="all">
      <link rel="stylesheet" id="vultur-theme-change-css" href="./assets/css/colors/color.css" media="all">
      <script src='./assets/js/jquery.js'></script>
      <script src='./assets/js/plugins.js'></script>
   </head>
   <body>
      <div id="preloader">
         <div id="status">
            <img src="./assets/images/loader.gif" alt="loader">
         </div>
      </div>
     <main class="course-item-popup learnpress-page">

    
      <div id="learn-press-content-item">
         <div id="course-item-content-header">
            <div class="course-item-search">
               <!-- <form>
                  <input type="text" placeholder="Search item">
                  <button class="" type="button"></button>
               </form> -->
            </div>
            <h2 class="course-title">
               <% if ( typeof(coursetitle) !='undefined') { %>

                  <a href="../../index.html"><%=coursetitle[0].coursetitle %></a>

                  <% } %>
               
            </h2>
            <a class="toggle-content-item" href="/mycourses"></a>
            <form class="lp-form form-button lp-button-back" method="get" action="/mycourses">
               <button class="lp-button button">Back to Course</button>
            </form>
         </div>
         <div class="scroll-wrapper content-item-scrollable scrollbar-light" style="position: absolute; top: 0px; bottom: 0px; width: 100%; opacity: 1;">
            <div class="content-item-scrollable scrollbar-light scroll-content" style="height: 300px; margin-bottom: 0px; margin-right: 0px; opacity: 1; max-height: none;">
               <div class="content-item-wrap">
                  <!-- <div  class="learn-press-content-protected-message">
                     <span class="icon"></span>
                     Please select a video To Proceed
                  </div> -->
                  <div id="mediaWindow">
                     <% if (CouresData[0]) { %>
                        <video width="640" height="360" controls><source src="<%=CouresData[0].lecture_video %>" /></video>
                        
                        <% } %>
                  </div>
                  <div id="lecture_discription">
                     <% if ( typeof(coursetitle) !='undefined') { %>
                        <textarea class="form-control col-sm-9" id="w3review" name="course_fDescription" rows="8" readonly ><%=coursetitle[0].coursediscription %></textarea>
                      
                        <% } %>

                  </div>
                  <div class="course-item-nav">
                     <div class="prev">
                        <span>Previous</span>
                        
                     </div>
                     <div class="next">
                        <span>Next</span>
                        <!-- <a href="../lesson-2-copy-4/index.html">
                        Lesson 2            </a> -->
                     </div>
                  </div>
               </div>
            </div>
            <div class="scroll-element scroll-x">
               <div class="scroll-element_outer">
                  <div class="scroll-element_size"></div>
                  <div class="scroll-element_track"></div>
                  <div class="scroll-bar" style="width: 0px;"></div>
               </div>
            </div>
            <div class="scroll-element scroll-y">
               <div class="scroll-element_outer">
                  <div class="scroll-element_size"></div>
                  <div class="scroll-element_track"></div>
                  <div class="scroll-bar" style="height: 96px;"></div>
               </div>
            </div>
         </div>
         <div id="course-item-content-footer">
         </div>
      </div>
      <div class="course-curriculum" id="learn-press-course-curriculum">
         <div class="scroll-wrapper curriculum-scrollable scrollbar-light" style="position: absolute; top: 0px; bottom: 0px; width: 100%; opacity: 1;">
            <div class="curriculum-scrollable scrollbar-light scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; opacity: 1; max-height: 100%;">
               <ul class="curriculum-sections">
                  <li class="section" id="section-introduction-to-digital-marketing-13" data-id="introduction-to-digital-marketing-13" data-section-id="13">
                     <div class="section-header">
                        <div class="section-left">
                           <h5 class="section-title">Introduction to digital marketing</h5>
                        </div>
                     </div>
                     <ul class="section-content">



                        <% if ( typeof(CouresData) !='undefined') { %>
                           <% CouresData.forEach(function(Course) { %>
                              <li class="course-item course-item-lp_lesson course-item-2437 current item-locked">
                                 <a class="section-item-link lecture_video" data-id="http://localhost/<%=Course.lecture_video   %>" data-pid="<%=Course._id %>">
                                    <span class="item-name "><%=Course.lecture_title   %></span>
                                    <div class="course-item-meta">
                                       <i class="fa item-meta course-item-status trans"></i>
                                    </div>
                                 </a>
                              </li>


                              <% }) } %>

                  
                     </ul>
                  </li>
                
               </ul>
            </div>
          
         </div>
      </div>
      <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
         <div  style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
         </div>
      </div>
   </main>
   <script src='./assets/js/jquerymin.js'></script>
      <script src='./assets/js/utils.js'></script>
      <script src='./assets/js/animate.js'></script>
      <script src='./assets/js/bootstrap.js'></script>
      <script src='./assets/js/jquery-magnific-popup.js'></script>
      <script src='./assets/js/owl-carousel.js'></script>
      <script src='./assets/js/vultur-custom.js'></script>
      <script src='./assets/js/jquery.fancybox.js'></script>
      <script src='./assets/js/slick.js'></script>
      <script>
             $(function(){
               $(".lecture_video").on("click",function(){
                  var href=$(this).data("id");
                  var idd=$(this).data("pid");
                  $("#mediaWindow").html('<video width="640" height="360" controls><source src="' + href + '" /></video>');
                  $.ajax({
                     type: "POST",
                     url: "/getlession_description",
                     data: {"id": idd },
                     success: function(r){
                        $("#lecture_discription").html("<textarea class='form-control col-sm-9' id='w3review' rows='8' readonly >"+r+"</textarea>");
                     
                     }
                  });
               })
            })
      </script>
   </body>
   <!-- Mirrored from vultur.drozd.at/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Jun 2020 10:09:14 GMT -->
</html>