<%- include header.ejs %>
      <!--- main content start -->
      <main class="single-lp_course">
         <div class="single-course-banner vultur_banner banner-transparent">
            <div class="container">
               <% if ( typeof(CouresData) !='undefined') { %>
                  <% CouresData.forEach(function(Course) { %>

                     <div class="row">
                        <div class="col-md-9">
                           <div class="vultur_banner_title">
                              <h1><%=Course.coursetitle   %></h1>
                              <p><%=Course.coursediscription   %></p>
                           </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                           <div class="vultur_banner_right">
                              <div class="single-course-duration">
                                 <span class="course-single-price">$<%=Course.courseprice   %></span>
                              </div>
                              <form name="purchase-course" action="/single-course" class="purchase_course" method="post">
                                 <input type="hidden" name="purchase_course" value="<%=Course._id   %>">
                                 <button class="lp-button button button-purchase-course">
                                 Enroll this course				            </button>
                              </form>
                           </div>
                        </div>
                     </div>

                     <% }) } %>
            
            </div>
         </div>
         <div class="single-course-banner vultur_banner banner-transparent-bottom" style="background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .2)), url(./assets/images/breadcrumb-shop.jpg);">
         </div>
         <div class="container">
         <div class="row">
         <!-- <div class="col-md-12">
            <div class="course-header-info">
               <div class="row">
                  <div class="col-sm-6 col-md-3">
                     <div class="header-top-feature">
                        <div class="course-feature-icon">
                           <i class="fas fa-graduation-cap"></i>
                        </div>
                        <div class="course-feature-bottom">
                           <div class="single_course_title"><span>LECTURES</span></div>
                           <div class="single_course_content"><span>    <span class="lp-label label-8">
                              8    </span>
                              Lessons</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                     <div class="header-top-feature">
                        <div class="course-feature-icon">
                           <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <div class="course-feature-bottom">
                           <div class="single_course_title"><span>QUESTIONS</span></div>
                           <div class="single_course_content"><span>    <span class="lp-label label-3">
                              3    </span>
                              Quizzes</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                     <div class="header-top-feature">
                        <div class="course-feature-icon">
                           <i class="fas fa-users"></i>
                        </div>
                        <div class="course-feature-bottom">
                           <div class="single_course_title"><span>ENROLLED</span></div>
                           <div class="single_course_content"><span>    <span class="lp-label label-66">
                              66    </span>
                              Student</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                     <div class="header-top-feature">
                        <div class="course-feature-icon">
                           <i class="far fa-comments"></i>
                        </div>
                        <div class="course-feature-bottom">
                           <div class="single_course_title"><span>REVIEWS</span></div>
                           <div class="single_course_content review">
                              <div class="sc-review-stars">
                                 <div class="review-stars-rated">
                                    <div class="rating"> 
                                       <input type="radio" name="rating1" value="10" id="10"><label for="10">☆</label> <input type="radio" name="rating1" value="9" id="9"><label for="9">☆</label> <input type="radio" name="rating1" value="8" id="8"><label for="8">☆</label> <input type="radio" name="rating1" value="7" id="7"><label for="7">☆</label> <input type="radio" name="rating1" value="6" id="6"><label for="6">☆</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div> -->
         <!-- courses tabs -->
         <div class="container-single-course w-100">
            <div class="container">
               <div class="course-single-layout">
                  <div id="lp-single-course" class="lp-single-course">
                     <div id="learn-press-course" class="course-summary">
                        <div class="course-landing-summary">
                           <ul class="learn-press-nav-tabs course-nav-tabs">
                              <nav>
                                 <div class="nav border-0 nav-tabs course-nav  course-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-reviews" aria-selected="true">Overview</a>
                                    <!-- <a class="nav-item nav-link" id="nav-curriculum-tab" data-toggle="tab" href="#nav-curriculum" role="tab" aria-controls="nav-curriculum" aria-selected="false">Curriculum</a>
                                    <a class="nav-item nav-link" id="nav-instructor-tab" data-toggle="tab" href="#nav-instructor" role="tab" aria-controls="nav-instructor" aria-selected="false">Instructor</a>
                                    <a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</a> -->
                                 </div>
                              </nav>
                           </ul>
                           <% if ( typeof(CouresData) !='undefined') { %>
                              <% CouresData.forEach(function(Course) { %>
                                 <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
                                       <div class="course-description" id="learn-press-course-description">
                                         
                                          <!-- <p><iframe title="Illustration Trends 2020" src="https://www.youtube.com/embed/W-j4QGAgNu8?feature=oembed" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="640" height="360" frameborder="0"></iframe></p> -->
                                       <p><video width="320" height="240" controls>
                                          <source src="<%=Course.courseintro  %>">
                                        </video></p>
                                          <h3>Course Description</h3>
                                          <p><%=Course.coursefdiscription  %></p>
                                         
                                          <!-- <h3>Start today and learn more about Marketing</h3>
                                          <p>Fiant imperatores currit croesi ille debilitas dic uti mehercule esse Forte legerint nonne modestiam bibendo falsone similitudo dicat recurrant vincunt praeclarae fidibus aequius civitas se moveatur fiant esse.</p> -->
                                          <!-- <div id="dpsp-content-bottom" class="dpsp-content-wrapper dpsp-shape-rounded dpsp-column-4 dpsp-has-spacing dpsp-hide-on-mobile dpsp-button-style-1 dpsp-has-icon-background dpsp-has-button-background">
                                             <ul class="dpsp-networks-btns-wrapper dpsp-networks-btns-content dpsp-has-button-icon-animation">
                                                <li><a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fvultur.drozd.at%2Fcourses%2Fvisual-basic-web-course-with-live-project%2F&amp;t=Visual%20Basic%20Web%20Course%20With%20Live%20Project" class="dpsp-network-btn dpsp-facebook dpsp-first" title="Share on Facebook"><span class="dpsp-network-icon"></span><span class="dpsp-network-label-wrapper"><span class="dpsp-network-label">Share</span></span></a></li>
                                                <li><a rel="nofollow" href="https://twitter.com/intent/tweet?text=Visual%20Basic%20Web%20Course%20With%20Live%20Project&amp;url=https%3A%2F%2Fvultur.drozd.at%2Fcourses%2Fvisual-basic-web-course-with-live-project%2F" class="dpsp-network-btn dpsp-twitter" title="Share on Twitter"><span class="dpsp-network-icon"></span><span class="dpsp-network-label-wrapper"><span class="dpsp-network-label">Tweet</span></span></a></li>
                                                <li><a rel="nofollow" href="#" class="dpsp-network-btn dpsp-pinterest" title="Save to Pinterest"><span class="dpsp-network-icon"></span><span class="dpsp-network-label-wrapper"><span class="dpsp-network-label">Pin</span></span></a></li>
                                                <li><a rel="nofollow" href="https://www.linkedin.com/shareArticle?url=https%3A%2F%2Fvultur.drozd.at%2Fcourses%2Fvisual-basic-web-course-with-live-project%2F&amp;title=Visual%20Basic%20Web%20Course%20With%20Live%20Project&amp;mini=true" class="dpsp-network-btn dpsp-linkedin dpsp-last" title="Share on LinkedIn"><span class="dpsp-network-icon"></span><span class="dpsp-network-label-wrapper"><span class="dpsp-network-label">LinkedIn</span></span></a></li>
                                             </ul>
                                          </div> -->
                                       </div>
                                    </div>
                                    <!-- <div class="tab-pane fade" id="nav-curriculum" role="tabpanel" aria-labelledby="nav-curriculum-tab">
                                       <div class="course-curriculum" id="learn-press-course-curriculum">
                                          <div class="curriculum-scrollable">
                                             <ul class="curriculum-sections">
                                                <li class="section" id="section-introduction-to-digital-marketing-16" data-id="introduction-to-digital-marketing-16" data-section-id="16">
                                                   <div class="section-header">
                                                      <div class="section-left">
                                                         <h5 class="section-title">Introduction to digital marketing</h5>
                                                      </div>
                                                   </div>
                                                   <ul class="section-content">
                                                      <li class="course-item course-item-lp_lesson course-item-2497 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Lesson 1</span>
                                                            <div class="course-item-meta">
                                                               <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                      <li class="course-item course-item-lp_lesson course-item-2498 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Lesson 2</span>
                                                            <div class="course-item-meta">
                                                               <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                      <li class="course-item course-item-lp_lesson course-item-2499 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Lesson 3</span>
                                                            <div class="course-item-meta">
                                                               <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                      <li class="course-item course-item-lp_quiz course-item-2500 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Quiz 1</span>
                                                            <div class="course-item-meta">
                                                               <span class="item-meta count-questions">10 questions</span><span class="item-meta duration">30 min</span>	        <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </li>
                                                <li class="section" id="section-digital-marketing-techniques-17" data-id="digital-marketing-techniques-17" data-section-id="17">
                                                   <div class="section-header">
                                                      <div class="section-left">
                                                         <h5 class="section-title">Digital marketing techniques</h5>
                                                      </div>
                                                   </div>
                                                   <ul class="section-content">
                                                      <li class="course-item course-item-lp_lesson course-item-2511 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Lesson 14</span>
                                                            <div class="course-item-meta">
                                                               <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                      <li class="course-item course-item-lp_lesson course-item-2512 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Lesson 15</span>
                                                            <div class="course-item-meta">
                                                               <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                      <li class="course-item course-item-lp_lesson course-item-2513 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Lesson 16</span>
                                                            <div class="course-item-meta">
                                                               <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                      <li class="course-item course-item-lp_quiz course-item-2514 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Quiz 2 Copy</span>
                                                            <div class="course-item-meta">
                                                               <span class="item-meta count-questions">11 questions</span><span class="item-meta duration">50 min</span>	        <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </li>
                                                <li class="section" id="section-learn-from-any-location-in-the-world-18" data-id="learn-from-any-location-in-the-world-18" data-section-id="18">
                                                   <div class="section-header">
                                                      <div class="section-left">
                                                         <h5 class="section-title">Learn from any location in the world.</h5>
                                                      </div>
                                                   </div>
                                                   <ul class="section-content">
                                                      <li class="course-item course-item-lp_lesson course-item-2526 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Lesson 24</span>
                                                            <div class="course-item-meta">
                                                               <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                      <li class="course-item course-item-lp_lesson course-item-2527 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Lesson 25</span>
                                                            <div class="course-item-meta">
                                                               <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                      <li class="course-item course-item-lp_quiz course-item-2528 item-locked">
                                                         <a class="section-item-link" href="lessons.html">
                                                            <span class="item-name">Quiz 3</span>
                                                            <div class="course-item-meta">
                                                               <span class="item-meta count-questions">15 questions</span><span class="item-meta duration">40 min</span>	        <i class="fa item-meta course-item-status trans"></i>
                                                            </div>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div> -->
                                    <div class="tab-pane fade" id="nav-instructor" role="tabpanel" aria-labelledby="nav-instructor-tab">
                                       <div class="course-author">
                                          <h3>Instructor</h3>
                                          <p class="author-name">
                                             <img alt="Admin bar avatar" src="../../wp-content/uploads/learn-press-profile/1/bb1aa68b83eeaf43b301015462853ea7.jpg" class="avatar avatar-96 photo" width="96" height="96">		<a href="../../profile/idrozd/index.html">Ioan Drozd</a>    
                                          </p>
                                          <div class="author-bio">
                                             Follow Me for Education, Lorem Ipsum is simply dummy text of the prin ting and typesetting industry. Lorem Ips um has been the industry’s standard dummy text. Lorem ipsum dolor sit amet, consectetuer adi pi scing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.    
                                          </div>
                                       </div>
                                    </div>
                                    <div class=" course-tab-panel-reviews  tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
                                       <div class="course-rate">
                                          <div class="course_rate_summary">
                                             <div class="review-number">
                                                5.0				    
                                             </div>
                                             <div class="review-stars-rated">
                                                <div class="rating"> 
                                                   <input type="radio" name="rating1" value="10" id="10"><label for="10">☆</label> <input type="radio" name="rating1" value="9" id="9"><label for="9">☆</label> <input type="radio" name="rating1" value="8" id="8"><label for="8">☆</label> <input type="radio" name="rating1" value="7" id="7"><label for="7">☆</label> <input type="radio" name="rating1" value="6" id="6"><label for="6">☆</label>
                                                </div>
                                             </div>
                                             <div class="course_rating_title">Course Rating</div>
                                          </div>
                                          <div class="course_rate_breakdown">
                                             <div class="course-rate">
                                                <div class="review-bar">
                                                   <div class="rating" style="width:100% "></div>
                                                </div>
                                                <span class="review-stars-rated">
                                                   <div class="rating"> 
                                                      <input type="radio" name="rating1" value="10" id="10"><label for="10">☆</label> <input type="radio" name="rating1" value="9" id="9"><label for="9">☆</label> <input type="radio" name="rating1" value="8" id="8"><label for="8">☆</label> <input type="radio" name="rating1" value="7" id="7"><label for="7">☆</label> <input type="radio" name="rating1" value="6" id="6"><label for="6">☆</label>
                                                   </div>
                                                </span>
                                                <span class="review-percent">100%</span>
                                             </div>
                                             <div class="course-rate">
                                                <div class="review-bar">
                                                   <div class="rating" style="width:0% "></div>
                                                </div>
                                                <span class="review-stars-rated">
                                                   <div class="rating"> 
                                                      <input type="radio" name="rating1" value="10" id="10"><label for="10">☆</label> <input type="radio" name="rating1" value="9" id="9"><label for="9">☆</label> <input type="radio" name="rating1" value="8" id="8"><label for="8">☆</label> <input type="radio" name="rating1" value="7" id="7"><label for="7">☆</label> <input type="radio" name="rating1" value="6" id="6"><label for="6">☆</label>
                                                   </div>
                                                </span>
                                                <span class="review-percent">0%</span>
                                             </div>
                                             <div class="course-rate">
                                                <div class="review-bar">
                                                   <div class="rating" style="width:0% "></div>
                                                </div>
                                                <span class="review-stars-rated">
                                                   <div class="rating"> 
                                                      <input type="radio" name="rating1" value="10" id="10"><label for="10">☆</label> <input type="radio" name="rating1" value="9" id="9"><label for="9">☆</label> <input type="radio" name="rating1" value="8" id="8"><label for="8">☆</label> <input type="radio" name="rating1" value="7" id="7"><label for="7">☆</label> <input type="radio" name="rating1" value="6" id="6"><label for="6">☆</label>
                                                   </div>
                                                </span>
                                                <span class="review-percent">0%</span>
                                             </div>
                                             <div class="course-rate">
                                                <div class="review-bar">
                                                   <div class="rating" style="width:0% "></div>
                                                </div>
                                                <span class="review-stars-rated">
                                                   <div class="rating"> 
                                                      <input type="radio" name="rating1" value="10" id="10"><label for="10">☆</label> <input type="radio" name="rating1" value="9" id="9"><label for="9">☆</label> <input type="radio" name="rating1" value="8" id="8"><label for="8">☆</label> <input type="radio" name="rating1" value="7" id="7"><label for="7">☆</label> <input type="radio" name="rating1" value="6" id="6"><label for="6">☆</label>
                                                   </div>
                                                </span>
                                                <span class="review-percent">0%</span>
                                             </div>
                                             <div class="course-rate">
                                                <div class="review-bar">
                                                   <div class="rating" style="width:0% "></div>
                                                </div>
                                                <span class="review-stars-rated">
                                                   <div class="rating"> 
                                                      <input type="radio" name="rating1" value="10" id="10"><label for="10">☆</label> <input type="radio" name="rating1" value="9" id="9"><label for="9">☆</label> <input type="radio" name="rating1" value="8" id="8"><label for="8">☆</label> <input type="radio" name="rating1" value="7" id="7"><label for="7">☆</label> <input type="radio" name="rating1" value="6" id="6"><label for="6">☆</label>
                                                   </div>
                                                </span>
                                                <span class="review-percent">0%</span>
                                             </div>
                                          </div>
                                       </div>
                                       <div id="course-reviews">
                                          <h3 class="course-review-head">Reviews</h3>
                                          <ul class="course-reviews-list">
                                             <li>
                                                <div class="review-author">
                                                   <img alt="" src="https://secure.gravatar.com/avatar/56a0b249902ec406154d2a9f1ec10c72?s=96&amp;r=g" srcset="https://secure.gravatar.com/avatar/56a0b249902ec406154d2a9f1ec10c72?s=192&amp;r=g 2x" class="avatar avatar-96 photo" width="96" height="96">		
                                                   <div class="review-author-info">
                                                      <span class="review_time">10 months ago</span>
                                                      <h4 class="user-name">
                                                         Cristina Drozd					        
                                                      </h4>
                                                   </div>
                                                </div>
                                                <div class="review-text">
                                                   <div class="review-content">
                                                      <div class="review-stars-rated">
                                                         <div class="rating"> 
                                                            <input type="radio" name="rating1" value="10" id="10"><label for="10">☆</label> <input type="radio" name="rating1" value="9" id="9"><label for="9">☆</label> <input type="radio" name="rating1" value="8" id="8"><label for="8">☆</label> <input type="radio" name="rating1" value="7" id="7"><label for="7">☆</label> <input type="radio" name="rating1" value="6" id="6"><label for="6">☆</label>
                                                         </div>
                                                      </div>
                                                      <div class="review-title">
                                                         Learn from any location					        
                                                      </div>
                                                      High Performance Corporate Business Template. Let’s Create Something new and awesome Togeather. Learn from any location in the world.			        
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="single-course-duration">
                                    <span class="course-price price">$<%=Course.courseprice  %></span>
                                 </div>
                                 <div class="lp-course-buttons">
                                    <form name="purchase-course" class="purchase-course" method="post">
                                       <input type="hidden" name="purchase-course" value="<%=Course._id  %>">
                                       <button class="lp-button button button-purchase-course">
                                       Buy this course        </button>
                                    </form>
                                 </div>


                                 <% }) } %>
                     
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- courses tabs -->
      </main>
      <!--- main content end -->
      <%- include footer.ejs %>